<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Blog | Register</title>
    <link rel="stylesheet" href="./stylesheets/style.css">
    <link rel="stylesheet" href="./stylesheets/auth.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sen:wght@400..800&display=swap" rel="stylesheet">

</head>
<body>

<%-include("partials/header")%>

<div>
    <h1>Sign up</h1>

    <p>
        <%= message%>
    </p>

    <form> action="/register" method="POST"</form>
    <input type="email" id="email" name="email" id="email" placeholder="Email Address" required>
    <input type="password" id="password" name="password" id="password" placeholder="Password" required>
    <input type="password" id="confirmPassword" name="confirmPassword" id="confirmPassword" placeholder="ConfirmPassword" required>
    <button type="submit">Register</button>
    <p>Already have an account? <a href="/login">Login here</a></p>
</div>

</body>
</html>